<article class="citizens-article">
  <div class="citizens-article__inner {% if article.metafields.custom.article_overview_image_width != blank %}citizens-article__inner--{{ article.metafields.custom.article_overview_image_width | downcase }}{%  endif %}">
    {% if article.image != blank %}
      <a class="image-holder" href="{{ article.url }}">
        {{
          article.image
          | image_url: width: 1050
          | image_tag: sizes: '(min-width: 750px) calc(100vw - 22rem), 1920px', class: 'image-holder__image'
        }}
      </a>
    {% endif %}
    <div class="text-holder" style="background-color: {{ article.metafields.custom.article_theme_color.value }}">
      <div>
        <h2 class="text-holder__title">{{ article.title }}</h2>
        <p class="text-holder__content">
          {{ article.excerpt_or_content | strip_html | truncate: 200 }}
          <a href="{{ article.url }}">{{ 'blog.read_more' | t }}</a>
        </p>
        <div class="text-holder__tags">
          {% for tag in article.tags %}
            <a class="button button--tag" href="{{ blog.url }}?tag={{ tag | url_encode }}">{{ tag }}</a>
          {% endfor %}
        </div>
      </div>

      <p class="text-holder__date">{{ article.published_at | date: '%d %b %Y' }}</p>
    </div>
  </div>
</article>
