{{ 'snippet-citizens-base-image.css' | asset_url | stylesheet_tag }}

{% assign contentIndex = index %}
{% if index == null %}
  {% assign contentIndex = 0 %}
{% endif %}

<section class="citizens-base-image">
  <div class="citizens-base-image__inner">
    <div class="image-holder">
      {% if image[0][contentIndex].media_type == 'video' %}
        <video class="image-holder__image" autoplay loop muted playsinline>
          <source src="{{ image[0][contentIndex].src }}" type="{{ image[0][contentIndex].mime_type }}">
        </video>
      {% else %}
        <img
          src="{{ image[0][contentIndex].src }}"
          alt="{{ image[0][contentIndex].alt }}"
          width="{{ image[0][contentIndex].width }}"
          height="{{ image[0][contentIndex].height }}"
          class="image-holder__image"
        >
      {% endif %}
    </div>
  </div>
</section>
