{{ 'section-featured-citizens.css' | asset_url | stylesheet_tag }}

<div class="title-holder">
  <h2 class="title-holder__title">{{ 'blog.more_articles' | t }}</h2>
  <a href="{{ blog.url }}" class="title-holder__url button button--ghost">{{ 'blog.back_to_overview' | t }}</a>
</div>
{% assign featured_amount = 3 %}
{% if article.metafields.custom.featured_article_amount != blank %}
  {% assign featured_amount = article.metafields.custom.featured_article_amount %}
{% endif %}

<section class="featured-citizens featured-citizens--{{ article.metafields.custom.featured_article_amount }} {% if template.name == 'article' %}featured-citizens--article{% endif %}">
  {% for article in blog.articles limit: featured_amount %}
    <div class="featured-citizens__inner">
      <div class="citizen" style="background-color: {{ article.metafields.custom.article_theme_color }}">
        {% if article.image != blank %}
          <a href="{{ article.url }}" class="image-holder">
            {{
              article.image
              | image_url: width: original
              | image_tag: sizes: '(min-width: 750px) calc(100vw - 22rem), 1920px', class: 'image-holder__image'
            }}
          </a>
        {% endif %}

        <div class="text-holder">
          <h3 class="text-holder__title">{{ article.title | remove: 'ØLÅF CITIZENS:' | remove: 'ØLÅF CITIZENS :' }}</h3>
          <div>
            <p>{{ article.excerpt_or_content | truncatewords: 10 | strip_html }}</p>
            <a href="{{ article.url }}">{{ 'blog.read_more' | t }}</a>
          </div>
        </div>

        <div class="tags">
          {% for tag in article.tags %}
            <a class="button button--tag" href="{{ blog.url }}?tag={{ tag | url_encode }}">{{ tag }}</a>
          {% endfor %}
        </div>

        <p class="date">{{ article.published_at | date: '%d %b %Y' }}</p>
      </div>
    </div>
  {% endfor %}
</section>

<div class="overview-link">
  <a href="{{ blog.url }}" class="overview-link__url button button--ghost">{{ 'blog.back_to_overview' | t }}</a>
</div>
