{{ 'snippet-citizens-text-block-biography.css' | asset_url | stylesheet_tag }}

<section class="text-with-biography">
  <div class="text-with-biography__inner">
    <div class="categories">
      {% for tag in article.tags %}
        <a href="{{ blog.url }}?tag={{ tag | url_encode }}" class="button button--tag">{{ tag }}</a>
      {% endfor %}
    </div>

    <article class="article wysiwyg">
      {{ settings[0].html }}
    </article>

    <div class="biography">
      {% if article.metafields.accentuate.citizens_biography_image != blank %}
        {% for image in article.metafields.accentuate.citizens_biography_image %}
          <div class="image-holder">
            <img
              src="{{ image[0].src }}"
              class="image-holder__image"
              alt="{{ image[0].alt }}"
              width="234"
              height="305"
            >
          </div>
        {% endfor %}
      {% endif %}

      {% if article.metafields.accentuate.citizens_biography_text != blank %}
        <h3 class="biography__title">{{ 'article.biography' | t }}</h3>
        <p class="biography__text">{{ article.metafields.accentuate.citizens_biography_text }}</p>
      {% endif %}
    </div>
  </div>
</section>
