<script src="{{- 'extender-collapsable.js' | asset_url -}}" defer></script>

<collapsable-handler>
  <section class="product-details">
    <article class="product-details__information collapsable collapsable--active">
      <button class="collapsable__button">{{ 'product.information' | t }}</button>
      <div class="collapsable__content" style="visibility: visible; opacity: 1;">
        <p>{{ product.description }}</p>
      </div>
    </article>

    {% for block in blocks %}
      {% if block.settings.title != blank %}
        <article class="product-details__information collapsable">
          <button class="collapsable__button">{{ block.settings.title }}</button>
          <div class="collapsable__content">
            {% if block.settings.product_information contains '|' %}
              {% assign splittedInfo = block.settings.product_information | split: '|' %}

              <div class="table">
                {% for info in splittedInfo %}
                  <p>{{ info }}</p>
                {% endfor %}
              </div>

            {% else %}
              <p>{{ block.settings.product_information }}</p>
            {% endif %}
          </div>
        </article>
      {% endif %}
    {% endfor %}
  </section>

  <article class="product-details__size-chart collapsable">
    <button class="collapsable__button js-size-chart">{{ 'product.size_chart' | t }}</button>
  </article>
</collapsable-handler>
