{% comment %}
    Renders the product media.

    Usage:
  {%- render 'product-media' -%}
{% endcomment %}

<script src="{{- 'extender-product-media-modal.js' | asset_url -}}" defer></script>
{{ 'snippet-product-media.css' | asset_url | stylesheet_tag }}

<product-media-modal>
  <div class="product-media">
    <div class="product-media__inner">
      {% for media in product.media %}
        <div class="image-holder" data-index="{{ forloop.index0 }}">
          {% if media.media_type == 'video' %}
            <video autoplay muted playsinline loop class="image-holder__image">
              {% for source in media.sources %}
                <source src="{{ source.url }}" type="{{ source.mime_type }}">
              {% endfor %}
            </video>
          {% else %}
            {{
              media
              | image_url: width: original
              | image_tag: sizes: '(min-width: 750px) calc(100vw - 22rem), 1920px', class: 'image-holder__image'
            }}

            {% if forloop.index == 3 %}
              {% if product.metafields.custom.model_info != blank %}
                <p class="model-info">{{ product.metafields.custom.model_info }}</p>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        {% if forloop.index == 1 %}
          <div class="mobile-form image-holder">
            {% render 'product-form', blocks: blocks, viewport: viewport %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if product.metafields.custom.style_with_products != blank %}
      <div class="style-with">
        <p class="style-with__title">{{ 'product.style_with' | t }}</p>
        <div class="style-with__inner">
          {% if product.metafields.custom.style_with_products != blank %}
            {% for product in product.metafields.custom.style_with_products.value %}
              {% render 'product-button', product: product %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
  <!-- end .product-media -->

  {%- liquid
    render 'product-media-modal'
  -%}
</product-media-modal>
