<script src="{{- 'extender-reset-password-modal.js' | asset_url -}}" defer></script>
{{ 'snippet-reset-password-form.css' | asset_url | stylesheet_tag }}

<reset-password>
  <div class="reset-password-modal">
    <div class="reset-password-modal__inner">
      {% render 'icon-close' %}
      <h2>{{ 'account.reset_password' | t }}</h2>
      <p>{{ 'account.reset_info' | t }}</p>

      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="email">
          <input type="email" name="email" placeholder="{{ 'account.email' | t }}">
        </div>

        <div class="submit">
          <input type="submit" value="Submit" class="button button--primary">
        </div>
      {% endform %}
    </div>
  </div>
</reset-password>
