<!doctype html>
<html class="no-js" lang="{{- request.locale.iso_code -}}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- unless settings.fonts_header.system? and settings.fonts_body.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- unless settings.fonts_header.system? and settings.fonts_body.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}

    {%- liquid
      render 'head-seo'
      render 'head-metas'
      render 'head-settings'
    -%}

    <!-- Header hook for plugins -->
    {{ content_for_header }}
  </head>
  <body class="layout-password template-{{- template.name -}}{%- if template.suffix -%}-{{- template.suffix -}}{%- endif -%}">
    <main id="main-content" class="u-focus-none" role="main" tabindex="-1">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}

        <div class="password">
          <label for="password">Password</label>
          <input type="password" name="password">
        </div>

        <div class="submit">
          <input type="submit" value="Sign in">
        </div>
      {% endform %}

      {{ content_for_layout }}
    </main>
  </body>
</html>
