{{ 'section-citizens-hero.css' | asset_url | stylesheet_tag }}

<div class="citizens-hero__inner">
  <div class="image-holder">
    {% if section.settings.video_url != blank %}
      <video class="image-holder__image" muted autoplay playsinline>
        <source src="{{ section.settings.video_url }}" type="video/mp4">
      </video>
    {% elsif section.settings.image != blank %}
      {{
        section.settings.image
        | image_url: width: 2048
        | image_tag: sizes: '(min-width: 750px) calc(100vw - 22rem), 1920px', class: 'image-holder__image'
      }}
    {% endif %}
  </div>

  {% if section.settings.title_1 != blank or section.settings.title_2 != blank or section.settings.title_3 != blank %}
    <div class="text-holder">
      <h2 class="text-holder__title title1">{{ section.settings.title_1 }}</h2>
      <h2 class="text-holder__title title2">{{ section.settings.title_2 }}</h2>
      <h2 class="text-holder__title title3">{{ section.settings.title_3 }}</h2>
    </div>
  {% endif %}
</div>

<style>
  .citizens-hero .text-holder__title {
    color: {{ section.settings.color }};
  }
</style>

{% schema %}
{
  "name": "Citizens schema",
  "tag": "section",
  "class": "citizens-hero",
  "settings": [
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
    {
      "type": "url",
      "label": "Video url",
      "id": "video_url"
    },
    {
      "type": "text",
      "label": "Title 1",
      "id": "title_1"
    },
    {
      "type": "text",
      "label": "Title 2",
      "id": "title_2"
    },
    {
      "type": "text",
      "label": "Title 3",
      "id": "title_3"
    },
    {
      "type": "color",
      "label": "Text color",
      "id": "color",
      "default": "#000000"
    }
  ]
}
{% endschema %}
