{{ 'section-faq-item.css' | asset_url | stylesheet_tag }}
<script src="{{- 'extender-faq-item.js' | asset_url -}}" defer></script>

<faq-item>
  <div class="faq-item__inner">
    {% if section.settings.show_faq_title %}
      <div class="title">
        <h1>{{ 'faq.title' | t }}</h1>
      </div>
    {% endif %}

    {% if section.settings.title != blank %}
      <button class="title-holder {% if section.settings.show_faq_title %}title-holder--first{% endif %}">
        <h2>{{ section.settings.title }}</h2>
        {% render 'icon-faq' %}
      </button>

      <article class="content-holder">
        {% for block in section.blocks %}
          <div class="content-holder__item wysiwyg">
            <p class="question">{{ block.settings.question }}</p>
            {{ block.settings.answer }}
          </div>
        {% endfor %}
      </article>
    {% endif %}
  </div>
</faq-item>

{% schema %}
{
  "name": "FAQ Item",
  "tag": "section",
  "class": "faq-item",
  "settings": [
    {
      "id": "title",
      "label": "title",
      "type": "text"
    },
    {
      "id": "show_faq_title",
      "label": "Show FAQ title",
      "type": "checkbox"
    }
  ],
  "blocks": [
    {
      "name": "Question",
      "type": "text",
      "settings": [
        {
          "id": "question",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "answer",
          "label": "Answer",
          "type": "richtext"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Item",
      "category": "sections"
    }
  ]
}
{% endschema %}
