{{ 'section-main-login.css' | asset_url | stylesheet_tag }}

<div class="main-login__inner">
  <h1>{{ 'account.customer_login' | t }}</h1>

  {% form 'customer_login' %}
    {{ form.errors | default_errors }}

    <div class="email">
      <input type="email" name="customer[email]" placeholder="{{ 'account.email' | t }}">
    </div>

    <div class="password">
      <input type="password" name="customer[password]" placeholder="{{ 'account.password' | t }}">
    </div>

    <div class="button-row">
      <div class="submit">
        <input type="submit" value="{{ 'account.login' | t }}" class="button-row__submit">
      </div>

      <div class="submit">
        <a href="{{ routes.account_register_url }}" class="button-row__signup">
          {{- 'account.sign_up' | t -}}
        </a>
      </div>
    </div>

    <div class="forgot-password">
      <button class="js-forgot" type="button">{{ 'account.forgot_password_title' | t }}</button>
    </div>
  {% endform %}

  {% render 'reset-password-form' %}
</div>
<!-- end .main-login__inner -->

{% schema %}
{
  "name": "Main login",
  "tag": "section",
  "class": "main-login",
  "settings": []
}
{% endschema %}
